@charset "utf-8";



table {
    top: 1px;
    border-collapse: collapse;
    margin: 0 100px 0 200px;
  }

table th, table td {
    border: solid 1px black;
    /*実線 1px 黒*/
  }

.detail {
    padding: 90px 0 60px;
    color: #5a5c5f;
}

.detail-title {
  margin-bottom: 20px;
}

.detail-text {
  margin-bottom: 0;
}

.entry-button {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 200px;
  font-size: 18px;
  width: 120px;
}